@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .primary {
    @apply text-primary;
  }
  .active {
    @apply text-hover;
  }
}




@layer base {
  :root {
    --primary: #292c62;
    --navbar: #f8f9fa;
    --hero: #f0f1f5;
    --hover: #397e87;
    --hover-20: #55e9fc;
  }

  html {
    @apply scroll-smooth;
  }
}

body{
  height: 1000px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* Gradiant Text */

.text-bg {
  background: linear-gradient(
    270deg,
    var(--primary) 0%,
    var(--hover) 50%,
    var(--hover-20) 100%
  );
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-te-webkit-text-fill-color: transparent;
  -moz-te-webkit-text-fill-color: transparent;
  line-height: 150%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  display: inline-block;
}
