@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .primary {
    @apply text-primary;
  }
  .bg-sec {
    @apply bg-primary/10 from-primary/40  to-primary;
  }
  .aboutLinksStyle {
    @apply block px-4 py-2  font-bold text-primary hover:text-hover transition-all duration-300;
  }
  .special-style {
    @apply bg-transparent text-primary border transition-all duration-300 hover:bg-hover hover:text-white  border-primary;
  }
}

.active {
  color: var(--active);
}

@layer base {
  :root {
    --primary: #292c62;
    --navbar: #f8f9fa;
    --hero: #f0f1f5;
    --hover: #075863;
    --active: #075863;
    --hover-20: #55e9fc;
  }

  html {
    @apply scroll-smooth;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* Gradiant Text */

.text-bg {
  background: linear-gradient(
    270deg,
    var(--hero) 0%,
    var(--hero) 50%,
    var(--hover-20) 100%
  );
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-te-webkit-text-fill-color: transparent;
  -moz-te-webkit-text-fill-color: transparent;
  line-height: 150%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  display: inline-block;
}
.text-bg-2 {
  background: linear-gradient(
    270deg,
    var(--hover-20) 0%,
    var(--hover-20) 50%,
    var(--hero) 100%
  );
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-te-webkit-text-fill-color: transparent;
  -moz-te-webkit-text-fill-color: transparent;
  line-height: 150%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  display: inline-block;
}

/* Scrollbar */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: 30px;
  scrollbar-color: var(--primary) var(--navbar);
  overflow-x: hidden;
  transition: 0.5s;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 0;
  transition: 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--active);
  border-radius: 10px;
  border: 2px solid var(--navbar);
  transition: 0.5s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}
